<h2>Professeur</h2>
<div class="row">
    <div class="col-5">
        <h3>Liste des professeurs</h3> 
        <table class="all">
        <thead>         
            <th>professeur</th>       
            <th colspan="3">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let prof of professorList">
                <td>{{prof.surname}} {{prof.name}}</td>
                <td>
                        <button class="btn btn-primary" (click)="getProfDetails(prof)">Détails</button>      
                </td>
                <td>
                    <button  class="btn btn-warning" (click)="getUpdateFormReady(prof)">Modifier</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="delete(prof)">Supprimer</button><!-- Supprimer -->
                </td>
            </tr>
        </tbody>
        
    </table>
    </div>
    <div class="col-7">
        <div id="prof-adder" *ngIf="!toggleAddUpdate">
            <h3>Formulaire d'ajout</h3>
        <form [formGroup]="profForm" (ngSubmit)="postProf()">
            <div class="row">
                <div class="col-4">
                    <div>
                        <label for="name-input">name</label><br>
                        <input type="text" formControlName="name" id="name-input">
                    </div>
                    <div>
                        <label for="surname-input">surname</label><br>
                        <input type="text" formControlName="surname" id="surname-input">
                    </div>
                    <div>
                        <label for="office-input">office</label><br>
                        <input type="number" formControlName="office" id="office-input">
                    </div>
                    <div>
                        <label for="email-input">email</label><br>
                        <input type="email" formControlName="email" id="email-input">
                    </div>
                    <div>
                        <label for="hireDate-input">hireDate</label><br>
                        <input type="date" formControlName="hireDate" id="hireDate-input">
                    </div>
                </div>
                <div class="col-8">
                    
                    <div>
                        <label for="wage-input">wage</label><br>
                        <input type="number" formControlName="wage" id="wage-input">
                    </div>
                    <div>
                        <label for="section-input">section</label><br>
                        <select id="section-input" formControlName="section">
                            <option value="-" selected disabled>-Séléctionner une section</option>
                            <option value={{sec.id}} *ngFor="let sec of sectionList">{{sec.name}}</option>
                        </select>
                    </div>
                    <!--<div>
                        <label for="cours-input">cours</label><br>
                        <select multiple formControlName="cours" id="cours-input">
                            <option value="-" selected disabled>-Séléctionner un/des cours</option>
                            <option value={{crs.id}} *ngFor="let crs of courseList">{{crs.name}}</option>
                        </select>
                    </div>-->
                    <br>
                <button type="submit">envoyer</button>
                </div>
            </div>
            
            
        </form>
        </div>
        <div id="updateForm" *ngIf="toggleAddUpdate">
            <h3>Formulaire de modification</h3>
            <form [formGroup]="updateForm" (ngSubmit)="update()">
                <div class="row">
                    <div class="col-4">
                        <div>
                            <label for="nameU-input">name</label><br>
                            <input type="text" formControlName="name" id="nameU-input">
                        </div>
                        <div>
                            <label for="surnameU-input">surname</label><br>
                            <input type="text" formControlName="surname" id="surnameU-input">
                        </div>
                        <div>
                            <label for="officeU-input">office</label><br>
                            <input type="number" formControlName="office" id="officeU-input">
                        </div>
                        <div>
                            <label for="emailU-input">email</label><br>
                            <input type="email" formControlName="email" id="emailU-input">
                        </div>
                        <div>
                            <label for="hireDateU-input">hireDate</label><br>
                            <input type="date" formControlName="hireDate" id="hireDateU-input">
                        </div>
                    </div>
                    <div class="col-8">
                        
                        <div>
                            <label for="wageU-input">wage</label><br>
                            <input type="number" formControlName="wage" id="wageU-input">
                        </div>
                        <div>
                            <label for="sectionU-input">section</label><br>
                            <select id="sectionU-input" formControlName="section">
                                <option value="-" selected disabled>-Séléctionner une section</option>
                                <option value={{sec.id}} *ngFor="let sec of sectionList">{{sec.name}}</option>
                            </select>
                        </div>
                        <!--<div>
                            <label for="coursU-input">cours</label><br>
                            <select multiple formControlName="cours" id="coursU-input">
                                <option value="-" selected disabled>-Séléctionner un/des cours</option>
                                <option value={{crs.id}} *ngFor="let crs of courseList">{{crs.name}}</option>
                            </select>
                        </div>-->
                        <br>
                    <button type="submit">envoyer</button>
                    </div>
                </div>
                
                
            </form>
        </div>
    </div>
</div>

<div class="row" *ngIf="selectedProf != null">
    <h3>Détails du professeur</h3>
    <table>
        <thead>
           <th>id</th>
           <th>name</th>
           <th>surname</th>
            <th>office</th>
            <th>email</th>
            <th>hireDate</th>
            <th>wage</th>
            <th>section</th>
            <th>cours</th>
           
        </thead>
        <tbody>
            <tr>
                <td>{{selectedProf.id}}</td>
                <td>{{selectedProf.name}}</td>
                <td>{{selectedProf.surname}} </td>
                <td>{{selectedProf.office}}</td>
                <td>{{selectedProf.email}}</td>
                <td>{{selectedProf.hireDate | date:'dd/MM/yyyy'}}</td>
                <td>{{selectedProf.wage}}</td>
                <td (click)="selectSection(selectedProf.section)" class="clickable">{{selectedProf.section.name}}</td>
                <td>
                    <ul>
                        <li *ngFor="let c of selectedProf.cours" (click)="selectCours(c)" class="clickable">{{c.name}}</li>
                    </ul>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>
<div class="row" *ngIf="selectedProf != null && detailsSection != null">
    <h3>Détails sur la section du professeur</h3>
    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>delegateId</th>
            <th>students</th>
            
           
        </thead>
        <tr >
            <td>{{detailsSection.id}}</td>
            <td>{{detailsSection.name}}</td>
            <td>{{detailsSection.delegateId}}</td>
            <td >
                <ul>
                    <li *ngFor="let student of detailsSection.students">{{student.firstname}} {{student.lastname}}</li>
                </ul>
            </td>

        </tr>
    </table>
</div>

<div class="row" *ngIf="selectedProf != null && detailsCourse != null">
    <h3>Détails sur le cours du professeur</h3>
    <table>
        <thead>
            <th>id</th>
            <th>name</th>
            <th>ects</th>
            <th>professor</th>
            
        </thead>
        <tr>
            <td>{{detailsCourse.id}}</td>
            <td>{{detailsCourse.name}}</td>
            <td>{{detailsCourse.ects}}</td>
            <td >{{detailsCourse.prof.surname}} {{detailsCourse.prof.name}}</td>
            
        </tr>
    </table>
</div>