<h2>Étudiant</h2>
<div class="row">
    <div class="col-5">
        <h3>Liste des étudiants</h3>
<table class="all">
    <thead>
        <th>étudiant</th>
        <th colspan="3">Actions</th>
    </thead>
    <tr *ngFor="let student of displayedStudents">
        <td>{{student.firstname}} {{student.lastname}}</td>
        <td>
                <button class="btn btn-primary" (click)="getStudentDetails(student)">Détails</button>      
        </td>
        <td>
            <button  class="btn btn-warning" (click)="getUpdateFormReady(student)">Modifier</button>
        </td>
        <td>
            <button class="btn btn-danger" (click)="deleteStudent(student)" >Supprimer</button>
        </td>
    </tr>
    <tfoot>
        <td colspan="4">    <div class="myButtons">
            <button id="previous" (click)="getDisplayedStudents(-1)" [disabled]="studentList[0].id==displayedStudents[0].id">Précédent</button>
            <p>Page {{end/10}}</p>
            <button id="next" (click)="getDisplayedStudents(1)" [disabled]="studentList[studentList.length-1].id==displayedStudents[displayedStudents.length-1].id">Suivant</button>
        </div></td>
    </tfoot>
</table>


    </div>
    <div class="col-7">
        <div id="addForm" *ngIf="!toggleAddUpdate">
            <h3>Formulaire d'ajout</h3>
        <form [formGroup]="studentForm" (ngSubmit)="postStudent()">
            <div>
                <label for="firstname-input">prénom</label><br>
                <input type="text" id="firstname-input" formControlName="firstname" >
            </div>
            <div>
                <label for="lastname-input">nom</label><br>
                <input type="text" id="lastname-input" formControlName="lastname">
            </div>
            <div>
                <label for="birthdate-input">date de naissance</label><br>
                <input type="date" id="birthdate-input" formControlName="birthdate">
            </div>
            <div>
                <label for="login-input">pseudo</label><br>
                <input type="text" id="login-input" formControlName="login">
            </div>
            <div>
                <label for="section-input">section</label><br>
                <select id="section-input" formControlName="section">
                    <option value="-" selected disabled>Choisissez une section</option>
                    <option *ngFor="let section of sectionList" value={{section.id}} >{{section.name}}</option>
                </select>
            </div>
            <div>
                <label for="result-input">résultat</label><br>
                <input type="number" min="0" max="20" id="result-input" formControlName="result">
            </div>
            <div>
                <label for="course-input">cours</label><br>
                <select id="course-input" formControlName="courseId">
                    <option value="-" selected disabled>Choisissez un cours</option>
                    <option *ngFor="let course of courseList" value={{course.id}} >{{course.name}}</option>
                </select>
            </div><br>
            <button type="submit">Envoyer</button>
        </form>
        </div>
        <div id="updateForm" *ngIf="toggleAddUpdate">
            <h3>Formulaire de modification</h3>
        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div>
                <label for="firstnameU-input">prénom</label><br>
                <input type="text" id="firstnameU-input" formControlName="firstname" >
            </div>
            <div>
                <label for="lastnameU-input">nom</label><br>
                <input type="text" id="lastnameU-input" formControlName="lastname">
            </div>
            <div>
                <label for="birthdateU-input">date de naissance</label><br>
                <input type="date" id="birthdateU-input" formControlName="birthdate">
            </div>
            <div>
                <label for="loginU-input">pseudo</label><br>
                <input type="text" id="loginU-input" formControlName="login">
            </div>
            <div>
                <label for="sectionU-input">section</label><br>
                <select id="sectionU-input" formControlName="section">
                    <option value="-" selected disabled>Choisissez une section</option>
                    <option *ngFor="let section of sectionList" value={{section.id}} >{{section.name}}</option>
                </select>
            </div>
            <div>
                <label for="resultU-input">résultat</label><br>
                <input type="number" min="0" max="20" id="resultU-input" formControlName="result">
            </div>
            <div>
                <label for="courseU-input">cours</label><br>
                <select id="courseU-input" formControlName="courseId">
                    <option value="-" selected disabled>Choisissez un cours</option>
                    <option *ngFor="let course of courseList" value={{course.id}} >{{course.name}}</option>
                </select>
            </div><br>
            <button type="submit">Envoyer</button>
        </form>
        </div>
        
    </div>
</div>
<div class="row" *ngIf="studentDetails !=null">
    <h3>Détails de l'étudiant</h3>
    <table>
        <thead>
            <th>id</th>
            <th>prénom</th>
            <th>nom</th>
            <th>date de naissance</th>
            <th>pseudo</th>
            <th>section</th>
            <th>résultat</th>
            <th>cours</th>
        </thead>
        <tbody>
            <td>{{studentDetails.id}}</td>
            <td>{{studentDetails.firstname}}</td>
            <td>{{studentDetails.lastname}}</td>
            <td>{{studentDetails.birthdate  | date:'dd/MM/yyyy'}}</td>
            <td>{{studentDetails.login}}</td>
            <td class="clickable" title="Détails sur la section" (click)="getSectionDetails(studentDetails.section)">{{studentDetails.section.name}}</td>
            <td>{{studentDetails.result}}</td>
            <td class="clickable" title="Détails du cours" (click)="getCourseDetails(studentDetails.courseId)">{{studentDetails.courseId}}</td>
        </tbody>
    </table>
</div>
<div class="row" *ngIf="studentDetails !=null && sectionDetails!=null">
    <h3>Détails de la section de l'étudiant</h3>
    <table>
        <thead>
            <th>id</th>
            <th>nom</th>
            <th>délégué</th>
            <th>étudiants</th>
        </thead>
        <tbody>
            <tr>

            </tr> <tr>
                <td>{{sectionDetails.id}}</td>
                <td>{{sectionDetails.name}}</td>
                <td>{{sectionDetails.delegateId}}</td>
                <td><ul><li *ngFor="let student of sectionDetails.students">{{student.firstname}} {{student.lastname}}</li></ul></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row" *ngIf="studentDetails !=null && courseDetails !=null">
    <h3>Détails du cours de l'étudiant</h3>
    <table>
        <thead>
            <th>id</th>
            <th>nom</th>
            <th>ects</th>
            <th>professeur</th>
        </thead>
        <tbody>
            <tr>
                <td>{{courseDetails.id}}</td>
                <td>{{courseDetails.name}}</td>
                <td>{{courseDetails.ects}}</td>
                <td>{{courseDetails.prof.surname}} {{courseDetails.prof.name}}</td>
            </tr>
        </tbody>
    </table>
</div>