#page-container {
  position: relative;
  min-height: 100vh;
  background: no-repeat center url("/assets/img/classe2.png");
  background-attachment: initial;
  background-size: cover;
}

main {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: rgba(211, 211, 211, 0.9);
  padding: 50px;
}
