th,
td {
  border: 1px solid black;
  text-align: center;
}
th {
  background-color: beige;
}

.clickable:hover {
  cursor: pointer;
  background-color: green;
}

td > button {
  width: 100%;
}

table.all {
  width: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}
